<p style="FONT-SIZE: 75%; font-family: sans-serif;">
    Cher [identite],<br />
    Nous vous confirmons la bonne r&eacute;ception de votre commande ainsi que de votre paiement. Vous trouverez le d&eacute;tail de votre commande &aacute; la suite de ce mail.<br />
    Nous vous remercions d'avoir choisi sfjam-noris pour vos achats.<br />
    Si vous avez des questions sur votre commande, rendez vous sur http://www.noris-sfjam.com rubrique contact en indiquant le num&eacute;ro de commande concern&eacute;e.
</p>
<br />
<div align=CENTER>
    <table style="BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 75%; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; font-family: sans-serif; background-color: #cccccc; border-collapse: collapse;" cellpadding=3 width=600>
        <tbody>
            <tr>
                <td align=middle colspan="2">
                    <b>SFJAM NORIS FRANCE</b><br />
                    11, rue de la pompe BP8249 Cergy Saint Christophe<br />
                    95801 CERGY PONTOISE CEDEX<br />
                    01 30 30 17 22<br />
                    SIRET:xxxxxxxxxxxxxxxxxxxx
                </td>
            </tr>
            <tr style="background-color: #9999cc">
                <td align=middle colspan="2">
                    Commande num&eacute;ro :<br />
                    <b>[CommNumm]</b>
                </td>
            </tr>
            <tr>
                <td><b>Adresse de facturation :</b></td>
                <td><b>Adresse de livraison :</b></td>
            </tr>
            <tr>
                <td>[billing]</td>
                <td>[shipping]</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table style="BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 75%; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; font-family: sans-serif; background-color: #cccccc; border-collapse: collapse;" cellpadding=3 width=600>
        <tbody>
            <tr style="background-color: #9999cc">
                <td align=middle>Cat&eacute;gorie</td>
                <td align=middle>R&eacute;f&eacute;rence</td>
                <td align=middle>Nom</td>
                <td align=middle>Couleur - Taille</td>
                <td align="right">Prix Unitaire</td>
                <td align=middle>Quantit&eacute;</td>
                <td align="right">Prix HT</td>
            </tr>
            [caddie]
            <tr><td colspan="7"> </td></tr>
            <tr>
                <td colspan="6"><b>Total HT</b></td>
                <td align="right"><b>[prixHT_total]</b></td>
            </tr>
        </tbody>
    </table>
    <br />
    <table style="BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 75%;  BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; font-family: sans-serif; border-collapse: collapse;" cellpadding=3 width=600>
        <tbody>
            <tr>
                <td>TVA (20%)</td>
                <td align="right">[tva_total]</td>
            </tr>
            <tr>
                <td>Frais de port</td>
                <td align="right">[port_total]</td>
            </tr>
            <tr>
                <td>Facturation</td>
                <td align="right">[prixTTC_total]</td>
            </tr>
        </tbody>
    </table>
</div>
