<p style="font-family: sans-serif;">
    Bonjour,<br />
    SFJAM-Noris vous remercie d'avoir pris le temps de cr&eacute;er un compte sur son site.<br />
    Pour finir le processus de cr&eacute;ation de votre compte nous vous demandons de cliquer sur ce lien [urlConfirm] 
    ou bien de copier l'adresse dans la barre d'adresse de votre navigateur.<br />

    Après avoir confirm&eacute; votre inscription vous pourrez vous identifiez et continuer le processus d'achat.

    Cordialement,
    L'&eacute;quipe de SFJAM-Noris.
</p>