<p style="font-family: sans-serif;">
    Bonjour,<br />
    Une demande de nouveaux identifiants de connexion pour le site SFJAM-Noris a &eacute;t&eacute; demand&eacute;.<br />
    Si vous n'&egrave;tes pas l'auteur de cette demande veuillez contacter SFJAM-Noris en vous rendant &aacute; l'adresse http://www.noris-sfjam.com rubrique contact.<br />
    <br />
    Vos nouveaux identifiant de connexions sont :<br />
    Identifiant : [login]<br />
    Mot de Passe : [newPass]<br />
    Vous pouvez à nouveau modifier votre mot de passe en vous rendant &aacute; l'adresse http://www.noris-sfjam.com rubrique Mon Compte puis Profil.
    <br />
    Cordialement,<br />
    L'&eacute;quipe de SFJAM-Noris.
</p>