
    <div class="row voffset3">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1>{{accueilData[0].title2}}</h1>
                <h4>{{accueilData[0].content2}}</h4>
                <h5>{{accueilData[0].content}}</h5>
                <hr class="divider" />
                <div class="row">
                    <div class="col-md-4">
                        <a href="http://www.ffkarate.fr/" id="accueilPhoto1" class="center-block" target="_blank"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.intjudo.eu/" id="accueilPhoto2" class="center-block" target="_blank"></a>
                    </div>
                        <div class="col-md-4">
                            <a href="http://www.eju.net/" id="accueilPhoto3" class="center-block" target="_blank"></a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{accueilData[0].title3}}</h3>
            <p>{{accueilData[0].content3}}</p>
            <p><a class="btn btn-primary" href="/img/catalogue.pdf" download role="button">T&eacute;l&eacute;charger</a></p>
            <hr class="divider" />
            <h3>{{accueilData[0].title4}}</h3>
            <p>{{accueilData[0].content4}}</p>
            <p><a class="btn btn-primary" href="http://www.tatamis-noris.com/" target="_blank" role="button">Acc&eacute;der</a></p>
            <hr class="divider" />
            <h3>{{accueilData[0].title5}}</h3>
            <p>{{accueilData[0].content5}}</p>
            <p><a class="btn btn-primary" href="/img/stage.pdf" download role="button">T&eacute;l&eacute;charger</a></p>
            
        </div>
    </div>
<!--<div class="container">

    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-8 ">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <a href="http://www.ffkarate.fr/" id="accueilPhoto1" class="center-block" target="_blank"></a>
            <a href="http://www.intjudo.eu/" id="accueilPhoto2" class="center-block" target="_blank"></a>
            <a href="http://www.eju.net/" id="accueilPhoto3" class="center-block" target="_blank"></a>
        </div>
        <div class="col-md-8 ">
            <h3>{{accueilData[0].subtitle}}</h3>
            
            <hr class="divider" />
            <div class="row voffset3">
                <div class="col-lg-4">
                    <h3>{{accueilData[0].title3}}</h3>
                    <p>{{accueilData[0].content3}}</p>
                    <p><a class="btn btn-primary" href="/img/catalogue.pdf" download role="button">T&eacute;l&eacute;charger</a></p>
                </div>
                <div class="col-lg-4">
                    <h3>{{accueilData[0].title4}}</h3>
                    <p>{{accueilData[0].content4}}</p>
                    <p><a class="btn btn-primary" href="http://www.noris-sfjam.com/tatamis-noris/index.html" target="_blank" role="button">Acc&eacute;der</a></p>
                </div>
            </div>
        </div>
    </div>
</div>-->
