
<div class="modal-header">
    <div class="container-fluid">
        <h4>Bienvenue !</h4>
    </div>
</div>
<div class="modal-body">
    <!-- intro -->
    <div class="row">
        <img src="../img/presentation.jpg" class="img-responsive" />
        <div class="col-md-8">
            <h4>Nouvelle monture pour un nouvel &eacute;lan !</h4><h5>N'h&eacute;sitez pas a nous laisser des messages pour tous problemes de fonctionnement.</br>Merci d'avance !</h5>
        </div>
    </div>
    
    <div class="modal-footer pull-center">
        <div class="form-actions">
            <button class="btn btn-warning" ng-click="cancelClick()">Fermer</button>
        </div>
    </div>
</div>
