
<div class="row">
    <div class="col-md-1 "></div>
    <div class="col-md-11 ">
        <h3>Commandes</h3>
        <p>Consulter et actualiser les commandes.</p>
    </div>

</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="panel panel-primary ">
                <div class="panel-heading">
                    Filtres
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            Par mot clé : <input type="text" class="form-control" ng-model="ref">
                        </div>
                        <div class="col-md-6">
                            Par état: <select class="form-control" ng-model="state" name="cat" id="cat" ng-options="item as item.label for item in states"></select>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<img src="img/loading.gif" height="32" width="32" ng-show="loading" class=" img-responsive center-block">
<div class="row">

    <div class="col-md-12">
        <div class="table-responsive">

            <table class="table table-hover">
                <tr>

                    <th><a href="" ng-click="sorting = 'order_num'; reverse=!reverse">Numéro</a></th>
                    <th>Date</th>
                    <th><a href="" ng-click="sorting = 'state'; reverse=!reverse">Etat</a></th>
                    <th><a href="" ng-click="sorting = 'identity'; reverse=!reverse">Client</a></th>
                    <th>Total TTC</th>
                    <th>Nombre d'articles</th>
                    <th>Adresse de livraison</th>
                </tr>

                <tr ng-repeat="obj in orders | filter:ref | filter:state.value | orderBy:sorting:reverse">
                    <td class="vert-align"><h5><a class="btn btn-default" href="#/Commande/{{obj.order_num}}" role="button">{{obj.order_num}}</a></h5></td>
                    <td class="vert-align"><h5>{{obj.order_date}}</h5></td>
                    <td class="vert-align"><h5>{{obj.state}}</h5></td>
                    <td class="vert-align"><h5>{{obj.identity}}</h5></td>
                    <td class="vert-align">{{obj.amount}} €</td>
                    <td class="vert-align">{{obj.number}}</td>
                    <td class="vert-align"><p ng-bind-html="trustHTML(obj.adress)"></p></td>
                </tr>
            </table>



        </div>

    </div>
</div>